@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* roughly slate-950 */
  color: #f1f5f9; /* roughly slate-100 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
}
